

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Martian+Mono:wght@100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sofia&display=swap');



.navbar-brand img{
    height: 70px;
    width: 70px;
}
@media(max-width: 1000px){
  .carousel-item h1{
  font-family: "Sofia,sans-serif";
 font-size: 16px;  
font-weight: 700;
}
.carousel-item p{
  font-family: "Martian Mono,sans-serif";
  padding-top: 10px;
 font-size: 12px;  
font-weight: 400;}
.cs-itm{
    height: 600px;
    position: relative;
}
.cs-img{
    height: 100%;
    object-fit: cover;
    
}
.carousel-item h1{
  font-family: "Sofia,sans-serif";
 font-size: 40px;  
font-weight: 700;
padding-bottom: 10px;
}

.carousel-item h3{
  font-family: "Lato,Martian Mono,sans-serif";
  
 font-size: 16px;  
font-weight: 700;}
.full-length-mobile{
   height: 80vh;
    object-fit: cover;
}
.b-image{
  height: 100vh;
  width: 100px;
  object-fit: cover;
}
.home-icon img{
  margin-left: 40%;
  height: 70px;
}
}
@media(min-width: 1200px){

    .nav-item a{
    
  
  list-style: none;
  
  
}
.navbar-nav{
   gap: 20%;
   padding-right: 20%;
   
}
.active-item{
  
   color: #1e95bd !important;
   font-weight: bold;

}
.carousel-item h1{
  font-family: "DM Sans";
 font-size: 60px;  
font-weight: 700;
padding-bottom: 10px;
}
.carousel-item p{
  font-family: "Martian Mono,sans-serif";
  
 font-size: 20px;  
font-weight: 400;}
.carousel-item h3{
  font-family: "Montserrat";

  
 font-size: 24px;  
font-weight: 700;}

.b-image{
  
  margin-top: 100px;
}
.bd-image{
  padding-top: 200px;
}
.home-icon img{
  margin-left: 45%;
  height: 70px;
}
.services-text{
  display: flex;
  align-items: center;
  margin-left: 20%;
  
}

.footer-mail img{
  margin-left: 90px;
}
.row h4{
  
  font-family: 'Montserrat';
  font-weight: 600;
  color:#8a2e5e;

}
}
.nav-item a{
    color: #5c7582;
    font-family: 'DM Sans';
    font-weight: 600;
}
.navbar-nav a:hover{
   /* background-color: #03045e;*/
   color: #1e95bd; 
}
.cs-itm{
    height: 600px;
    position: relative;
}
.cs-img{
    height: 100%;
    object-fit: cover;
    
}
.carousel-caption h1 p{
    font-family: "Sofia,sans-serif";
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* adjust opacity as needed */
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0); /* dark transparent overlay */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;  /* vertical center */
  align-items: center;      /* horizontal center */
  z-index: 2;
  text-align: center;
}
.cr-fnt h1{
 font-family: "Sofia,sans-serif";
 font-size: 60px;  
font-weight: 700; 

}

.carousel-item p{
  font-family: "Montserrat";
  padding-top: 10px;
 font-size: 18px;  
font-weight: 400;
}
.carousel-caption {
  position: absolute;
  top: 10%;
  left: 10px;
  transform: translateY(-60%);
  color: white;
  z-index: 2;
  max-width: 600px;
}
.carousel-caption a{
  font-family: "Lato";
  margin-right: 25px;
  margin-top: 15px;
}
.info-box{
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.info-box img{
  width: 70px;
}
.info-box h5{
  padding-left: 20px;
  color: #03045e;
  font-family: "Montserrat";
  font-weight: 700 !important;
}
.row-txt{
  padding-top: 20px;
}
.row-txt h4{
  
  
  
  color:#8a2e5e;
}
.t-flex p{
  padding-left: 90px;
  font-weight: 600;
  font-family: "DM Sans";
}

.home-icon h3{
  text-align: center;
  
}
.home-image{
  width: 100%;
  height: 100vh;
  margin-left: auto;
  
  background: url("/images/homecare-hero.jpg");
  background-size: cover !important;
  background-position: center !important;   /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  
  
  position: relative;
  
  
}
.home-image::before{
content: '';
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgb(0,0,0,0.4);

z-index: 1;
width: 100%;
height: 100%;
}
.home-text{
  padding-top: 30px;
  color: white;
  z-index: 2;
}
.home-text h3{
  font-family: "Sofia,sans-serif";
  font-weight: 900 !important;
  font-size: 48px;
}
.home-text p{
font-family:  Helvetica, sans-serif;
font-weight: bold;
margin-top: 50px;
line-height: 2.5em;
font-weight: 700;
}

.services-text p{
  font-family: 'Helvetica';
  padding-left: 10px;
  padding-top: 7px;
  font-size: 14px;
  font-weight: 500;
}
.services-text h6{
  font-family: 'Helvetica';
  font-size: 18px;
  font-weight: 700;
}
.home-icon h3{
  font-family: 'DM Sans';
  font-size: 24px;
  color: #03045e;
  font-weight: 700;
}
.choose-text h6{
  padding-top: 20px;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
}
footer{
  background: linear-gradient(rgba(9,32,50, 0.8),rgba(9,32,50,0.8)), url("/images/hospital2.webp");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}
.footer-img img{
  height: 20px;
  width: 20px;
  background-color: white;
}
.footer-mail{
  display: flex;
  text-align: center;
  margin-left: 70px;
}
.footer-mail a{
  text-decoration: none;
  color: white;
  margin-left: 10px;
  padding-top: 10px;
}
.footer-mail a:hover{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.705);
  
}
.footer-p {
  margin-left:7px ;
  padding-top: 10px;
  
}
.foot-p{
font-family: "Montserrat";
}
.foot-a{
  font-family: "Sofia";
  
}
.b-flex{
  display: flex;
  align-items: center;
}
.correct{
  margin-top: 40px;
}
.animate{
   opacity: 0;
   filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.5s ease-out;
}
.home-animate{
   opacity: 0;
   filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.5s ease-out;
}
.home-animate.styled{
  opacity: 1;
 filter: blur(0);
  transform: translateX(0);
}

/*.animate{
  opacity: 0;
    transform: translateY(30px);
    transition: 0.6s ease-out;
}
.animate.styled{
  opacity: 1;
  transform: none;
}*/
.animate.styled{
 opacity: 1;
 filter: blur(0);
  transform: translateX(0);

}
.chooser{
   opacity: 0;
   filter: blur(5px);
  transform: translateX(-100%);
  transition: all 0.5s ease-out;
}
.chooser.editable{
  opacity: 1;
 filter: blur(0);
  transform: translateX(0);
}
.physio-image{
  width: 100%;
  height: 100vh;
  margin-left: auto;
  
  background: url("/images/physiotherapist.jpg");
  background-size: cover !important;
  background-position: center !important;   /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  
  
  position: relative;
}
.physio-image::before{
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgb(0,0,0,0.4);
  position: absolute;

}
.hero-link{
  text-decoration: none;
}
.hero-link:hover h5{
  color:#03055edc;
}
.alzheimers-image{
  width: 100%;
  height: 100vh;
  margin-left: auto;
  
  background: url("/images/alzheimers-hero1.jpg");
  background-size: cover !important;
  background-position: center !important;   /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  
  
  position: relative;
}
.alzheimers-image::before{
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgb(0,0,0,0.4);
  position: absolute;

}
.palliative-image{
  width: 100%;
  height: 100vh;
  margin-left: auto;
  
  background: url("/images/palliative-hero2.jpg");
  background-size: cover !important;
  background-position: center !important;   /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  
  
  position: relative;
}
.palliative-image::before{
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgb(0,0,0,0.4);
  position: absolute;

}
.respite-image{
  width: 100%;
  height: 100vh;
  margin-left: auto;
  
  background: url("/images/respite-hero.jpg");
  background-size: cover !important;
  background-position: center !important;   /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  
  
  position: relative;
}
.respite-image::before{
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgb(0,0,0,0.4);
  position: absolute;

}
.transitional-image{
  width: 100%;
  height: 100vh;
  margin-left: auto;
  
  background: url("/images/transitional-hero.avif");
  background-size: cover !important;
  background-position: center !important;   /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  
  
  position: relative;
}
.transitional-image::before{
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgb(0,0,0,0.4);
  position: absolute;

}
.phlebotomy-image{
  width: 100%;
  height: 100vh;
  margin-left: auto;
  
  background: url("/images/phlebotomy-hero1.jpg");
  background-size: cover !important;
  background-position: center !important;   /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  
  
  position: relative;
}
.phlebotomy-image::before{
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgb(0,0,0,0.4);
  position: absolute;

}
.wellness-image{
  
  height: 100vh;
  
  
  background: url("/images/wellness-hero.jpg");
  background-size: cover !important;
  background-position: center !important;   /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  
  
  position: relative;
}
.wellness-image::before{
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgb(0,0,0,0.4);
  position: absolute;

}
.home-icon h5{
  font-family: 'DM Sans';
  color: #03045e;
  text-align: center;
  font-weight: 700;
}
.contact-hero{
  height: 90vh;
  background: url("/images/contact-hero1.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  

}
.contact-hero::before{
  content: '';
  background: rgb(0,0,0,0.4);
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
.about-hero{
  height: 70vh;
  background: url("/images/about-hero.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  

}
.about-hero::before{
  content: '';
  background: rgb(0,0,0,0.4);
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
.form-area{
  background-color:rgba(237, 236, 227, 0.89);
  
  padding: 30px;
  color: black;
  font-family: "Montserrat";
  font-weight: 200;
  border-radius: 5%;
}
.t-text p{
  font-family: "Montserrat", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500 ;
  font-size: 18px;
}
.h-text{
  font-family: "DM Sans";
  font-weight: 800;
}
.h-text h1{
  font-size: 60px;
  color: #03045e;
}
.h-text h6{
  font-size: 25px;
  font-weight: 600;
}
label{
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 20px;
}
.ht-text{
  font-family: "Sofia,sans-serif";
  font-weight: 900 !important;
  font-size: 40px;
}

.abt-pic{
  background-image: url("/images/hospital3.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.abt-text p{
  font-weight: 600;
  font-family: "Montserrat";
}
.partner-hero{
  background-color: #03045e;
  color: white;
}
.animator{
  transform: translateY(100px);    /* Start 100px below */
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.animator.style{
   transform: translateY(0);        /* Animate to original position */
  opacity: 1;
}
.btn-text a{
  font-family: "Montserrat";
}


